<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kelei.mapper.WalletMapper">

<!--    <resultMap id="wallet" type="com.kelei.entity.Wallet">-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="user_id" property="userId"/>-->
<!--    </resultMap>-->
    <select id="findAllUser" resultType="wallet" >
        select * from wallet
    </select>

    <select id="findBalance" resultType="long" >
        select balance from wallet where user_id=#{userId}
    </select>

    <update id="updateBalanceConsume100" >
        update wallet set balance=balance-100 where user_id=#{userId}
    </update>

    <update id="updateBalanceAdd20">
        update wallet set balance=balance+20 where user_id=#{userId}
    </update>
</mapper>